git+https://github.com/thu-ml/zhusuan.git
git+https://github.com/haowen-xu/tfsnippet.git@v0.1.2
git+https://github.com/NetManAIOps/donut.git

tensorflow<=1.15.1
torch
scipy
numpy
matplotlib
pandas
pytest
scikit-learn
